<h1>フォロワー一覧</h1>

<% @users.each do |user| %>
<div class="media">
  <div class="media-left">
    <%= gravatar_for user %>
  </div>
  <div class="media-body">
   <%= link_to user.name, user %>
  </div>
</div>
<% end %>
